@{
    Layout = null;
}
<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">@Html.Lang("Candy.Plugin.Admin.Users")</h1>
    <small class="text-muted">@Html.Lang("Candy.Plugin.Admin.Users.SubTitle")</small>
</div>
<div class="wrapper-md ng-scope" ng-controller="UserListCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">@Html.Lang("Candy.Plugin.Admin.Users")</div>
        <div class="row wrapper">
            <div class="col-sm-3 m-b-xs">
                <select ng-model="action" class="input-sm form-control w-sm inline v-middle">
                    <option value="0">批量操作</option>
                    <option value="1">删除</option>
                </select>
                <button class="btn btn-sm btn-default" ng-click="Excute()">应用</button>
            </div>
            <div class="col-sm-6"></div>
            <div class="col-sm-3">
                <div class="input-group">
                    <input ng-model="searchText" type="text" class="input-sm form-control" placeholder="搜索">
                    <span class="input-group-btn">
                        <button class="btn btn-sm btn-default" type="button" ng-click="Search()">搜索</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped b-t b-l b-light">
                <thead>
                    <tr>
                        <th>
                            <label class="i-checks m-b-none">
                                <input type="checkbox" ng-click="selectAll($event)" ng-checked="isSelectedAll()">
                                <i></i>
                            </label>
                        </th>
                        <th>用户名</th>
                        <th>昵称</th>
                        <th>邮箱</th>
                        <th>上次登录时间</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="e in entities" ng-class="getSelectedClass(e.id)">
                        <td>
                            <label class="i-checks m-b-none">
                                <input type="checkbox" name="post[]" ng-checked="isSelected(e.id)" ng-click="updateSelection($event,e.id)">
                                <i></i>
                            </label>
                        </td>
                        <td>{{e.UserName}}</td>
                        <td>{{e.NiceName}}</td>
                        <td>{{e.Email}}</td>
                        <td>{{e.LastLoginDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-4">
                    <select ng-model="action" class="input-sm form-control w-sm inline v-middle">
                        <option value="0">批量操作</option>
                        <option value="1">删除</option>
                    </select>
                    <button class="btn btn-sm btn-default" ng-click="Excute()">应用</button>
                </div>
                <div class="col-sm-4">
                    <nav class="text-center">
                        <ul class="pagination pagination-sm m-t-none m-b-none">
                            <li class="disabled">
                                <a href="#">
                                    <span aria-hidden="true">
                                        <i class="fa fa-chevron-left"></i>
                                    </span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">2 <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">3 <span class="sr-only">(current)</span></a></li>
                            <li><a href="#"><span aria-hidden="true"><i class="fa fa-chevron-right"></i></span> <span class="sr-only">(current)</span></a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-sm-4">
                    <small class="text-muted inline m-t-sm m-b-sm pull-right">showing 20-30 of 50 items</small>
                </div>
            </div>
        </div>
    </div>
</div>