<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>用户注册</title>
</head>
<body>
    <form action="/User/Register/" method="post">
        <input type="text" name="UserName" value="" />
        <input type="email" name="Email" value="" />
        <input type="password" name="Password" value="" />
        <button type="submit">注册</button>
        <button type="reset">重置</button>
    </form>
</body>
</html>