@{
    Layout = null;
}
<div data-ng-include="'/admin/home/header/'" class="app-header navbar"></div>
<div data-ng-include="'/admin/home/aside/'" class="app-aside hidden-xs bg-dark"></div>

<div class="app-content">
    <div ui-butterbar></div>
    <div class="app-content-body fade-in-up" ui-view></div>
</div>