@{
    Layout = null;
}
<div class="aside-wrap">
    <div class="navi-wrap">
        <nav ui-nav class="navi" ng-include="'/admin/home/nav/'"></nav>
        <div class="wrapper m-t">
            <div class="text-center-folded">
                <span class="pull-right pull-none-folded">60%</span>
                <span class="hidden-folded">内存</span>
            </div>
            <progressbar value="60" class="progress-xxs m-t-sm dk" type="info"></progressbar>
            <div class="text-center-folded">
                <span class="pull-right pull-none-folded">35%</span>
                <span class="hidden-folded">CPU</span>
            </div>
            <progressbar value="35" class="progress-xxs m-t-sm dk" type="primary"></progressbar>
        </div>
    </div>
</div>